<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="router-link-active" >Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="router-link-active" >Contact</a>
            </li>
        </ul>
    </div>
</nav>
