
/* .modal-body {
    height: 500px;
} */
::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
    background-color: rgb(151, 151, 151);
}

::ng-deep .carousel-inner{
    height: 400px;
}
/* ::ng-deep .carousel-control-next-icon,
::ng-deep .carousel-control-prev-icon {
    background-color: black;
} */

