<div class="modal-header">

    <h2>{{project.name}}</h2>
    <button class="btn-close " (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body" >
    <carousel>
      
    @for (picture of project.pictures; track $index) {
      
        <div>
            <slide><img [src]="picture" alt="slide" style="display: block; width: 100%;"></slide>
        </div>
  
    }


      <!--<slide><img src="../../assets/Angular App, Web API/Image 1.PNG" alt="slide" style="display: block; width: 100%;"></slide>
       <slide><img src="../../assets/Image2.png" alt="slide" style="display: block; width: 100%;"></slide>
       <slide><img src="../../assets/Image3.png" alt="slide" style="display: block; width: 100%;"></slide> -->
    </carousel>
</div>