<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
      
        <accordion [isAnimated] ="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>

                    <div style="visibility: hidden;">></div>
                    <div class="btn-link fw-bold">Work Experience</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon1.png" alt="" ></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon2.png" alt="" ></div>
                    </div>
                    
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Consultant/ CSHARP Developer: June 2017: March 31, 2023 (Employer)</h2>
                    <h3 class="text-primary">Reverside Software Solutions</h3>
                    <ul>
                        <li>My career began as a Junior C# Developer at Reverside Software Solutions. 
                            This role provided me with my first experience in a real-world work environment. 
                            I was exposed to front-end development using platforms like Angular and JavaScript, 
                            while working with C# for back-end development and MS SQL Server for databases. 
                            It was here that I first built my foundation in programming languages such as TypeScript.
                            For more details on my other experience, please refer to my full CV.</li>
                        <br>
                        <li>
                            Duties
                            <ul>
                                <li>Firsthand experience in Angular, JavaScript, C#, SQL Server, and TypeScript.</li>
                                <li>Collaborated with stakeholders to gather requirements, design, test, and deploy features.</li>
                                <li>Ensured code quality through debugging, documentation, and unit testing.</li>
                                <li>Identify areas where code quality is lacking and improve upon it.</li>
                                <li>Implemented best practices for code quality and maintainability.</li>
                                <li>Participated in code reviews to ensure adherence to coding standards.</li>
                                <li>Worked in team of developers who developed insurance software products (Policy and Claims).</li>
                                <li>CI/CD across different environments.</li>
                                <li>Worked with data models, rating scripts, reports.</li>
                                <li>Write and maintain documentation for code.</li>
                                <li>Worked with TFS as parts of the project requirement tracking, collaborations and deployments.</li>
                                <li>Managed and analyzed data in SQL Server &amp; Data Warehouse environments.</li>
                                <li>Assisted in the design and implementation of database solutions.</li>
                                <li>Optimized database performance through indexing and query optimization.</li>
                                <li>Ensured data integrity and security through backup and recovery procedures.</li>
                                <li>Collaborated with developers to integrate database solutions into applications.</li>
                                <li>Provided technical support and troubleshooting for database-related issues.</li>
                                <li>Dashboards and reports in Qlik Sense.</li>
                                <li>Transformed datasets (.xlsx, .csv) and built stored procedures/queries.</li>
                                <li>Worked closely with stakeholders to resolve data issues.</li>
                            </ul>
    
                        </li>
                    </ul>         
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">C# Intermediate/Senior Developer at Adviceworx: Current</h2>
                    <h3 class="text-primary">Adviceworx</h3>
                    <ul>
                        <li>Developing using C-sharp, Angular and Typescript. Using SQL for sever side, and Azure pipelines as part of CI/CD.</li>
                        <br>
                        <li>
                            Duties
                            <ul>
                                <li>Assist with the designing, development, customizing and maintenance of various proprietary applications.</li>
                                <li>Assist with maintenance of existing Qlikview models.</li>
                                <li>Data Clean up from source.</li>
                                <li>Maintaining automation pipelines.</li>
                                <li>Owning the data supply chain (From SFTP to Qlik).</li>
                                <li>Developing, maintenance and housekeeping of AWX proprietary Webapp.</li>
                                <li>General Development and any ad-hoc requests as provided by the Head Developer when required.</li>
                                <li>Developing and maintaining proprietary web applications using C#, Angular, TypeScript, and SQL Server.</li>
                                <li>Implementing automation pipelines, CI/CD, and Azure services (App Services, ADF pipelines, Power BI integration).</li>
                                <li>Collaborating with cross-functional teams to gather requirements and deliver high-quality software solutions.</li>
                                <li>Ensuring code quality through debugging, documentation, and unit testing.</li>
                                <li>Participating in code reviews to ensure adherence to coding standards and best practices.</li>
                                <li>Providing technical support and troubleshooting for application-related issues.</li>
                                <li>Staying up-to-date with the latest industry trends and technologies to continuously improve skills and knowledge.</li>
                                <li>Supporting QlikView models and ensuring data accuracy through cleanup and transformation.</li>
                                <li>Assisting with data migration and integration tasks as needed.</li>
                                <li>Documenting processes, code changes, and system configurations for future reference.</li>
                                <li>Learning Power BI and its integration with existing systems.</li>

                            </ul>
    
                        </li>
                    </ul>         
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>

                    <div style="visibility: hidden;">></div>
                    <div class="btn-link fw-bold">Education</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon1.png" alt="" ></div>
                        <div *ngIf="isEducationOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon2.png" alt="" ></div>
                    </div>
                    
                </button>

                <div style="text-align: left;">
                     <h2>National Diploma in Information Technology</h2>
                     <h3 class="text-primary">Mangosuthu university of Technology</h3>
                     <ul>
                        <li>Development Software.</li>
                        <li>Information Systems.</li>
                        <li>Internet Programming.</li>
                        <li>Systems Software.</li>
                      </ul>
                </div>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificatesOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>

                    <div style="visibility: hidden;">></div>
                    <div class="btn-link fw-bold">Certificates</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificatesOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon1.png" alt="" ></div>
                        <div *ngIf="isCertificatesOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon2.png" alt="" ></div>
                    </div>
                    
                </button>

                <div style="text-align: left;">
                    <h2>Udemy Certificate of Completion Angular Core Deep Dive - Beginner to Advanced (Angular 17)</h2>
                    <ul>
                        <li>Obtained: January 2024</li>
                        <li>#UC-2823bbb4-2f1f-45fc-a8dd-78c1a492dd43</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>

                    <div style="visibility: hidden;">></div>
                    <div class="btn-link fw-bold">Skills</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon1.png" alt="" ></div>
                        <div *ngIf="isSkillsOpen" style="color: white;"><img id="icon1" src="../../assets/MenuIcon2.png" alt="" ></div>
                    </div>
                    
                </button>

               <div class="row" style="text-align: left;">
                    <div class="col"> 
                        <h3>Programming Languages:</h3>
                          <ul>
                            <li>C#</li>
                            <li>TypeScript</li>
                            <li>JavaScript</li>
                          </ul>
                    </div>

                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>Angular</li>
                            <li>ASP.NET Core</li>
                            <li>Node.JS</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <li>Version Control Git/GitHub</li>
                            <li>MVC architecture</li>
                            <li>Version Control Team Foundation Server - TFS</li>
                            <li>Agile Development</li>
                            <li>SOLID Principles</li>
                            <li>RESTful APIs</li>
                            <li>Database Management (SQL Server)</li>
                            <li>Unit Testing and Test-Driven Development (TDD)</li>
                            <li>Continuous Integration/Continuous Deployment (CI/CD)</li>
                            <li>Problem-Solving and Debugging</li>
                            <li>Strong Communication and Collaboration Skills</li>
                        </ul>
                    </div>
               </div>
            </accordion-group>
        </accordion>
    </div>
</div>