accordion-group::ng-deep .btn-link {
  color: black;
}

accordion-group::ng-deep .card-header {
  background-color: rgb(255, 239, 219)
}

#icon1{
     display: block;
     max-width: 20x;
     max-height: 20px;  
}