<div class="container">
    <div class="row">
        <!--about me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/profile picture.png" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p class="text-start">
                    Hi I am Siphesihle Madondo I am a professional Software Developer, with years of experience in developement based in JOHANNESBURG, Newtown. 
                    My passion in IT(Programming) started when I was in High School where I sat in front of a computer and wrote my first program, and I have not looked back since.
                    5-6 years later. I'm proud to say I have been part of a number of amazing projects, From back-end development using C# as a languange to front-end develop using
                    frameworks such as Angular which is combination of (TypeScript, HTML, and CSS).

                </p>
            </div>
        </div>
        
        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
           <div class="text-center">
               <h2>Featured Project</h2>
               <h4>{{featuredProject.name}}</h4>
           </div>

           <carousel>
      
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
          
            </carousel>

            <p class="mt-2">
                {{featuredProject.summary}}
            </p>
        </div>
    </div>
</div>
